@import helper._

@title = {
  About test page
} 

@main(title, "about", nav2 = "", null) {
<h3>About</h3>

<div class="row-fluid">
  <p>
    This web portal is used to publish and share statistics about <a href="http://ict.unitn.it/">ICT Doctoral School</a> at <a href="http://www.unitn.it/">Univerisy of Trento</a>.
  </p>
  <p>
    The source code of the portal itself is open source, available on GitHub at <a href="https://github.com/unitnOrbit/Orbit">https://github.com/unitnOrbit/Orbit</a>
  </p>
</div>

}
