@(cat: models.statistics.Category, reports: Collection[models.statistics.Report])

@main(Html(cat.name), nav = "cat-"+cat.id, nav2 = "", null) {
@defining(controllers.Secured.user()){ user =>

<script>
    $(function() { // adds tooltip to the buttons
        $('a.btn[rel=tooltip]').tooltip();
    });
</script>

<div class="alert alert-info">
    Reports
    @if(user.isAdmin()) {
       <div class="btn-group" style="float:right;">
           <a class="btn btn-mini" rel="tooltip" title="Edit category" href="@routes.Admin.cat_edit_pg(cat.id)"><i class="icon-edit"></i> Edit</a>
           <a class="btn btn-mini" rel="tooltip" title="Delete category" href="@routes.Admin.cat_del_pg(cat.id)"><i class="icon-trash"></i> Delete</a>
       </div><!--/btn-group-->
       <div style="clear:both;"></div>
    }
</div>



<div id="report_list_container">
@for(row <- controllers.Browsing.split(reports,3)) {
  
  <div style="margin-bottom:2em;" class="row-fluid">
    @for(report <- row) {
        <div class="span4">
            <h4>@report.name</h4>
            <p>@report.description<p>
            <p>
                <div class="btn-group">
                    @if(user.getUsername() != null) {
                            @if(user.isAdmin()) {
                                    <a class="btn btn-small" rel="tooltip" title="Edit report" href="@routes.Admin.report_edit_pg(report.id)"><i class="icon-edit"></i></a>
                                    <a class="btn btn-small" rel="tooltip" title="Delete report" href="@routes.Admin.report_del_pg(report.id)"><i class="icon-trash"></i></a>
                            }
                    }
                    <a class="btn" rel="tooltip" title="View this report" href="@(routes.Browsing.report_by_id(report.id))?category=@cat.id">View &raquo;</a>
                </div><!--/btn-group-->
            </p>
        
            @* Visibility label *@
            @if(user.isAdmin()) {
                <p>
                    @if(report.is_public) {
                        <span class="label label-success">Public</span>
                    } else {
                        <span class="label label-important">Restricted</span>
                    }
                </p>        
            }
        </div><!--/span-->
    }
  </div>
}
</div>

} @* end defining user *@
}
