@(cat: models.statistics.Category, reports: Collection[models.statistics.Report])

@main(Html(cat.name), nav = "cat-"+cat.id, nav2 = "", null) {
@defining(controllers.Secured.user()){ user =>

<script>
    $(function() { // adds tooltip to the buttons
        $('a.btn[rel=tooltip]').tooltip();
    });
</script>

<div class="alert alert-info">Overview</div>

<div id="report_list_container" class="row-fluid">
  @for(report <- reports) {
  <div class="span4">
    <h3>@report.name</h3>
    <p>@report.description<p>
      <p>
          @if(user.getUsername() != null) {
              @if(user.isAdmin()) {
                <a class="btn btn-small" rel="tooltip" title="Edit report" href="@routes.Admin.report_edit_pg(report.id)"><i class="icon-edit"></i></a>
                <a class="btn btn-small" rel="tooltip" title="Delete report" href="@routes.Admin.report_del_pg(report.id)"><i class="icon-trash"></i></a>
              }
          }
          <a class="btn" rel="tooltip" title="View this report" href="@(routes.Browsing.report_by_id(report.id))?category=@cat.id">View &raquo;</a>
      </p>
  </div><!--/span-->
  }
  
</div>

} @* end defining user *@
}
