@(cat: models.statistics.Category, reports: Collection[models.statistics.Report], categoryForm: Form[models.statistics.Category], step: String)

@import helper._
@import helper.twitterBootstrap._

@main(Html("Edit: " + cat.name), nav = "cat-"+cat.id, nav2 = "", null) {


    @if(step == "edit") {
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">x</button>
            <strong>Info:</strong> The changes made ​​will be final, you can not go back. 
        </div>        
    }

    @if(step == "success") {
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">x</button>
            <strong>Well done:</strong> The operation that you have made ​​has been completed successfully!
        </div>
    }

    @if(categoryForm.hasErrors()) {
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">x</button>
            <p><strong>Error:</strong> @categoryForm.errors()</p>
        </div>
    } 

    @helper.form(routes.Admin.cat_edit(cat.id), 'class -> "well form-horizontal") { 
        <fieldset>
            @textarea(categoryForm("name"), '_label -> "Category Name", 
            'rows -> 2, 'class -> "span6", '_showConstraints -> false)
            
            @textarea(categoryForm("description"), '_label -> "Category Description", 
            'rows -> 8, 'class -> "span6", '_showConstraints -> false)            
        </fieldset>

        <div class="actions">
            <button type="submit" class="btn">Complete</button>
        </div>

    }
}