@(cats_list: List[models.statistics.Category], userRole: List[models.global.UserRole], rep_form: Form[models.statistics.Report], cat_map: Map[String,String])

@import helper._
@import helper.twitterBootstrap._

@main(Html("New report"), nav = "", nav2 = "", null){

@if(rep_form.hasErrors()) {
<div class="alert alert-error">
    <button class="close" data-dismiss="alert">x</button>
    <p><strong>Error:</strong> @rep_form.errors()</p>
</div>
} 

@helper.form(routes.Admin.report_new(), 'class -> "well form-inline") {
    <fieldset>
        <legend>Create report</legend>
        @textarea(
            rep_form("name"), 
            '_label -> "Report Name",
            'rows -> 2, 
            'class -> "span6", 
            '_showConstraints -> false,
            'placeholder -> "Enter the name for the new report"
        )
        @textarea(
            rep_form("description"),
            '_label -> "Report Description",
            'rows -> 8,
            'class -> "span6",
            '_showConstraints -> false,
            'placeholder -> "Enter the description for the new report"
        )
    </fieldset>


    <fieldset>
        <legend>Set Category</legend>
        @for(cat <- cats_list) {
            <label class="inline span1"><!-- force inline -->
            @input(rep_form("cat-" + cat.id), '_label -> cat.name) {(id, name, value, args) =>
            <input id="@id" name="@name" type="checkbox" />
            }
            </label>
        }
    </fieldset>
    <br/>

    <fieldset>
        <legend>Set visibility</legend>
        <label class="inline span1"><!-- force inline -->
            @checkbox(
                rep_form("is_public"), 
                '_label -> Html("<b>Is Public</b>")
            )
        </label>
        
        @for(role <- userRole) {
            <label class="inline span1"><!-- force inline -->
                @input(rep_form("role-" + role.userrolID), '_label -> role.role) {(id, name, value, args) =>
                      <input id="@id" name="@name" type="checkbox" />
                }
            </label>
        }
    </fieldset>
    <br/>

    <div class="actions">
        <button type="submit" class="btn">Complete</button>
    </div>
}

}
