@(report: models.statistics.Report, statsList: List[Long])
@main(Html(report.name + ""), nav = "report-" + report.id, nav2 = "", null) {

<style type="text/css">
    .chart {
        height: 400px;
    }
    .chart-headers { height: 100px;}
</style>

<script src="@routes.Assets.at("javascripts/jquery.templ.js")"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]}); // FIXME: considerare se spostarlo fuori dal for each

    $.each(@statsList, function(i, statID) {
        var getStatsUrl = '/statistic/' + statID + '/';
           
        $.ajax({
            url: getStatsUrl,
            dataType: 'json',
            data: '',
            success: function(stat_data) {
               var chart_title = stat_data.title;           // The tile of current chart
               var chart_descr = stat_data.description;     // The descrption of current chart
               var chart_type = stat_data.type;             // The type of current chart
               var chart_columns = stat_data.columns;       // The columns to be used
               var chart_data = stat_data.data;             // The rows to be used
               
               var chart_templ_data;
               var data; 
               var chart;
               var report_container;
               var type_report_container = "half";          // Define the type of box (ie. full, half, etc..)
               
               /* CHECKS */
               if(chart_title == "" || chart_title == null) {
                    chart_title = "No title.";
               }
               if(chart_descr == "" || chart_descr == null) {
                    chart_descr = "No description.";
               }
               if(chart_type == "" || chart_type == null) {
                    chart_type = "PieChart";
               }
               
               /* Creating the template */
               chart_templ_data = [ { 
                                   title: chart_title,
                                   description: chart_descr,
                                   type: chart_type 
                                   } ];
               // Apply the template to container
               if(type_report_container == "" || type_report_container == null) {
                    type_report_container = "full";
               }               
               report_container = $("#" + type_report_container + "-report-templ").tmpl(chart_templ_data).appendTo("#report-container");
               
               
               /* Loading chart here */
               data = new google.visualization.DataTable();
               //google.setOnLoadCallback(drawChart);
               
               // Adds columns to Data Table
               $.each(chart_columns, function(i, column) {
                      var type = column[0];
                      var name = column[1];

                      data.addColumn(column[0], column[1]);
               });
               
               // Adds rows to Data Table
               data.addRows(chart_data);
                        
               //var options = {'title':'How Much Pizza I Ate Last Night', 'width':400, 'height':300};
               var options = {'':''};
               
               // Instantiate and draw our chart, passing in some options.
               
               //chart = new google.visualization.PieChart(document.getElementById('chart-full-report'));
               chart = new google.visualization.PieChart(report_container.find(".chart").get(0));
               chart.draw(data, options);
            },
            error: function() { // TODO: gestione errori
               $('#report-container').append('<div class="alert alert-error">Error: ajax call (url: ' + getStatsUrl + ' )</div>');
            }
        });
    });
</script>
    
<!-- full size chart -->
<script id="full-report-templ" class="full-stat-cont" type="text/html">
    <div class="span12 report-inner-container">
        <div class="chart-headers well">
            <h3 class="stat-title">${title}</h3>
            <p class="stat-descr">${description}</p>
        </div>

        <div class="chart"></div>
    </div>
</script>

<!-- half size chart -->
<script id="half-report-templ" class="half-report-cont" type="text/html">
    <div class="span6 report-inner-container">
        <div class="chart-headers well">
            <h3 class="stat-title">${title}</h3>
            <p class="stat-descr">${description}</p>
        </div>
        <div class="chart"></div>
    </div>    
</script>

<div id="report-container" class="row-fluid"></div>

}
