@(cat: models.statistics.Category, report: models.statistics.Report, statsList: List[Long], reportForm: Form[Report])

@import helper._

@main(Html(report.name + ""), nav = "cat-" + cat.id, nav2 = "report-" + report.id, null) {

    <div class="alert alert-warning">Editing mode</div>

    @form(routes.Admin.report_edit(report.id)) {   
        <p>
            @inputText(reportForm("reportName"), '_label -> "Report Name")
        </p>
        <p>
            <button type="submit">TEST</button>
        </p>

    }
}