@(cat: models.statistics.Category, report: models.statistics.Report, statsList: String)

@*
  statsList: Json string: array of strings, each string is the path of a statistic
*@

@main(Html(report.name + ""), nav = "cat-" + cat.id, nav2 = "report-" + report.id, null) {

@defining(controllers.Secured.user()){ user =>

<style type="text/css">
    .chart {
        height: 400px;
    }
    .chart-headers { height: auto;}
</style>

<script src="@routes.Assets.at("javascripts/jquery.templ.js")"></script>

<script type="text/javascript">

// gets a function (or class) from it qualified name

var stringToFunction = function(str) {
  var arr = str.split(".");

  var fn = (window || this);
  for (var i = 0, len = arr.length; i < len; i++) {
    fn = fn[arr[i]];
  }

  if (typeof fn !== "function") {
    throw new Error("function not found");
  }

  return  fn;
};
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.load("visualization", "1", {packages:["table"]});      
  google.setOnLoadCallback(drawStatistics);

  function drawStatistics() {
    
    $.each(@Html(statsList), function(i, getStatsUrl) {
           
        $.ajax({
            url: getStatsUrl,
            dataType: 'json',
            data: '',
            beforeSend: function() { /* TODO */ },
            success: function(stat_data) {
               var chart_title = stat_data.title;           // The tile of current chart
               var chart_descr = stat_data.description;     // The descrption of current chart
               var chart_type = stat_data.type;             // The type of current chart
               var chart_columns = stat_data.columns;       // The columns to be used
               var chart_data = stat_data.data;             // The rows to be used
               var chart_options = stat_data.options;       // The options for the chrt
               
               var chart_templ_data;
               var data;
               var data_table;
               var chart;
               var chart_table;
               var report_container;
                              
               /* CHECKS */
               if(chart_title == "" || chart_title == null) {
                    chart_title = "No title.";
               }
               if(chart_descr == "" || chart_descr == null) {
                    chart_descr = "No description.";
               }
               if(chart_type == "" || chart_type == null) {
                    chart_type = "PieChart";
               }
               
               /* Creating the template */
               chart_templ_data = [ { 
                                   title: chart_title,
                                   description: chart_descr,
                                   type: chart_type 
                                   } ];
               report_container = $("#full-report-templ").tmpl(chart_templ_data).appendTo("#report-container");
               
               
               /* Loading chart here */
               data = new google.visualization.DataTable();
               data_table = new google.visualization.DataTable();               
               //google.setOnLoadCallback(drawChart);
               
               // Adds columns to Data Table
               $.each(chart_columns, function(i, column) {
                      var type = column[0];
                      var name = column[1];

                      data.addColumn(column[0], column[1]);
                      data_table.addColumn(column[0], column[1]);
               });
               
               // Adds rows to Data Table
               data.addRows(chart_data);
               data_table.addRows(chart_data);
                        
               //var options = {'title':'How Much Pizza I Ate Last Night', 'width':400, 'height':300};
               var options = $.extend({'is3D': 'true'}, chart_options);
               console.log(options);
               var table_options = { showRowNumber: true, sortColumn: 1, sortAscending: false };
                              
               //chart = new google.visualization.PieChart(document.getElementById('chart-full-report'));
               //chart = new google.visualization.PieChart(report_container.find(".chart").get(0));
               chartClass = stringToFunction("google.visualization." + chart_type);
               chart = new chartClass(report_container.find(".chart").get(0));

               chart_table = new google.visualization.Table(report_container.find(".table").get(0));
               
               chart.draw(data, options);
               chart_table.draw(data_table, table_options);
               
               // Listeners
               google.visualization.events.addListener(chart, 'select', function() {
                   chart_table.setSelection(chart.getSelection());
               });
               google.visualization.events.addListener(chart_table, 'select', function() {
                   chart.setSelection(chart_table.getSelection());
               });
            },
            error: function() { // TODO: gestione errori
               $('#report-container').prepend('<div class="alert alert-error">A problem occurred while trying to open this report.</div>');
            }
        });
    });
  }
</script>
    
<!-- full size chart -->
<script id="loading-msg" type="text/html">
    <div class="progress progress-striped active">
        <div class="bar" style="width: ${var}%;"></div>
    </div>    
</script>

<script id="full-report-templ" class="full-stat-cont" type="text/html">
    <div class="row-fluid">
        <div class="span12">
    
            <!-- top headers -->
            <div class="">  
                <h3 class="stat-title">${title}</h3>
                <p class="stat-descr"><br/><b>Description:</b> ${description}</p>                    
            </div>    
    
            <!-- chart & table box -->
            <div class="row-fluid">
                    <div class="chart"></div>
            </div>
            <div class="row-fluid">
                <div class="table"></div>
            </div>
    
        </div>
    </div>
    <hr />
</script>

<!-- half size chart -->
<script id="half-report-templ" class="half-report-cont" type="text/html">
    <div class="row-fluid">
        <div class="span12">
    
            <!-- top headers -->
            <div class="">  
                <h3 class="stat-title">${title}</h3>
                <p class="stat-descr"><br/><b>Description:</b> ${description}</p>                    
            </div>    
        
            <!-- chart & table box -->
            <div class="row-fluid">
                <div class="span6 report-inner-container">
                    <div class="chart"></div>
                </div>
                <div class="span6 table-inner-container">
                    <div class="table"></div>
                </div>
            </div>
        
        </div>
    </div>
    <hr />
</script>

<!--
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="">
                <div class="btn-group">
                    <a class="btn" href=""><i class="icon-print"></i></a>
                    <a class="btn" href=""><i class="icon-download-alt"></i></a>
                </div>            
            </div>
        </div>
    </div>
</div>
-->
 @if(user.isAdmin()) {
	<div class="alert alert-info">
                Admin tools
		    <div class="btn-group" style="float:right;">
                                    <a class="btn btn-mini" rel="tooltip" title="Edit report" href="@routes.Admin.report_edit_pg(report.id)"><i class="icon-edit"></i> Edit</a>
                                    <a class="btn btn-mini" rel="tooltip" title="Delete report" href="@routes.Admin.report_del_pg(report.id)"><i class="icon-trash"></i> Delete</a>
		    </div><!--/btn-group-->
		<div style="clear:both;"></div>
	</div>
}
<div id="report-container" class="row-fluid"></div>

} @* end defining user *@

}
